@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
*{}
body{}
.navbar-nav{
display:flex !important;
justify-content: space-around !important;
width:100% !important;
font-size:60px !important;
}
nav{
display:flex;
justify-content:space-around;
}
.bg-dark{
	background-color: black !important;
}
.btn{
border-radius:30px !important;
}
.navbar-brand{
	margin-left: 50%;
	transform: translate(-50%);
	font-family: 'Bungee Spice', cursive;
	color: black;
	font-size: 60px;
       letter-spacing:10px;
}
.bg-image{
	background-image: url(head.jpg);
	height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	position: relative;
}
.overlay{
     background-color: rgba(0,0,0,.8);
     width: 100%;
     height: 80vh;
     left: 0;
     right: 0;
     position: relative;
}
.card{
	margin-top: 30px;
border-radius:25px;
box-shadow:2px 7px 2px rgba(0,0,0,0.20);
}
